/* for the button in the footer*/
.btn-branding1 {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding1:hover {
  color: rgb(40, 76, 90);
  background: var(--secondary-color);
  border: 1px solid var(--branding-color);
}
